
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 215, 215);
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 200px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: double;
    cursor: pointer;
    font-weight: bold;
}

.sidebar a:hover,
.sidebar a.active {
    color: #007bff;
    background: #33333383;
}

.header {
    margin-left: 200px;
    background: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.main {
    margin-left: 200px;
    padding: 20px;
    padding-bottom: 10px;

}
.footer {
            position: fixed;
            bottom: 0;
            left: px; 
            width: calc(100% - 400px);
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            
        }

.footer-left, .footer-right {
            font-weight: normal;
            font-size: 1.2em;
            color: black; 
            
        }
.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box1 {
     width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box2 {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box3 {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box4 {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box5 {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.box6 {
    width: 200px;
    height: 200px;
    background: rgb(219, 215, 215);
    border: 5px solid gold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}



.box:hover {
    background-color: red;
    color: whitesmoke;
    transform: scale(1.1);
}
.box1:hover {
    background-color: orange;
    color: whitesmoke;
    transform: rotate(180deg);
    rotate: 3s;
}
.box2:hover {
    background-color: yellow;
    color: whitesmoke;
    transform: translateX(50px) rotate(30deg) scale(1.5);
    rotate: 3s;
}
.box3:hover {
    background-color: green;
    color: whitesmoke;
    transform: rotateY(45deg);
    rotate: 3s;
}
.box4:hover {
    background-color: blue;
    color: whitesmoke;
    transform: rotateX(45deg);
    rotate: 3s;
}
.box5:hover {
    background-color: indigo;
    color: whitesmoke;
    transform: scaleY(1.5);
    rotate: 3s;
}
.box6:hover {
    background-color: violet;
    color: whitesmoke;
    transform: translateY(50px);
    rotate: 3s;
}


.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border: 3px solid #007bff;
}